# Copyright (C) 2022 The Android Open Source Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

on init
    # Mipi Display feature
    chmod 0777 /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dynamic_dsi_clock

on boot
    # DT2W
    chown system system /proc/tp_gesture
    chmod 0644 /proc/tp_gesture

    # selinux nodes, hide permissive state
    chmod 0640 /sys/fs/selinux/enforce
    chmod 0440 /sys/fs/selinux/policy

    # add for power data upload
    chown system system /sys/power/sum_wakeup_time
    chmod 0660 /sys/power/sum_wakeup_time
    chown system system /sys/power/last_wake_time
    chmod 0660 /sys/power/last_wake_time
    chown system system /sys/power/wake_times
    chmod 0660 /sys/power/wake_times
    chown system system /sys/power/screen_off_flag
    chmod 0660 /sys/power/screen_off_flag

    #Create persist for camera calibration data
    mkdir /mnt/vendor/persist/camera 0755 system cameraserver

on post-fs-data
    mkdir /data/vendor/mac_addr 0770 system wifi

    # Create directory used by audio cit
    mkdir /data/vendor/cit 0770 system system

    #add torch node for cit
    chown system system /sys/class/leds/led:torch_0/brightness
    chown system system /sys/class/leds/led:torch_1/brightness
    chown system system /sys/class/leds/led:flash_0/brightness
    chown system system /sys/class/leds/led:flash_1/brightness
    chown system system /sys/class/leds/led:switch_0/brightness
    chown system system /sys/class/leds/led:switch_1/brightness
    chown system system /sys/class/leds/led:switch_2/brightness
    chown system system /sys/class/leds/flashlight/brightness

    chmod 0664 /sys/class/leds/led:torch_0/brightness
    chmod 0664 /sys/class/leds/led:torch_1/brightness
    chmod 0664 /sys/class/leds/led:flash_0/brightness
    chmod 0664 /sys/class/leds/led:flash_1/brightness
    chmod 0664 /sys/class/leds/led:switch_0/brightness
    chmod 0664 /sys/class/leds/led:switch_1/brightness
    chmod 0664 /sys/class/leds/led:switch_2/brightness
    chmod 0664 /sys/class/leds/flashlight/brightness

    # set aggressive read ahead for dm-0 and dm-1 during boot up
    write /sys/block/dm-0/queue/read_ahead_kb 2048
    write /sys/block/dm-1/queue/read_ahead_kb 2048
    write /sys/block/dm-2/queue/read_ahead_kb 2048

on property:sys.boot_completed=1
    #Reset read ahead for dm-0 and dm-1 to 512kb
    write /sys/block/dm-0/queue/read_ahead_kb 512
    write /sys/block/dm-1/queue/read_ahead_kb 512

on property:vendor.bluetooth.startwdsdaemon=true
    start vendor.bt_wdsdaemon

on property:vendor.bluetooth.startwdsdaemon=false
    stop vendor.bt_wdsdaemon

service vendor.bt_wdsdaemon /system/vendor/bin/wdsdaemon -su
    class late_start
    user root
    group bluetooth diag system wakelock
    disabled
    oneshot

# Adjust socket buffer to enlarge TCP receive window for high bandwidth
# but only if ro.data.large_tcp_window_size property is set.
on property:ro.data.large_tcp_window_size=true
    write /proc/sys/net/ipv4/tcp_adv_win_scale  2

on property:sys.sysctl.tcp_adv_win_scale=*
    write /proc/sys/net/ipv4/tcp_adv_win_scale ${sys.sysctl.tcp_adv_win_scale}

service drmdiag /system/vendor/bin/drmdiagapp
    class late_start
     user root
     disabled
     oneshot

on property:drmdiag.load=1
    start drmdiag

on property:drmdiag.load=0
    stop drmdiag

service ims_regmanager /system/vendor/bin/exe-ims-regmanagerprocessnative
    class late_start
    group net_bt_admin inet radio wifi
    disabled

on property:persist.ims.regmanager.mode=1
    start ims_regmanager

on property:ro.data.large_tcp_window_size=true
    # Adjust socket buffer to enlarge TCP receive window for high bandwidth (e.g. DO-RevB)
    write /proc/sys/net/ipv4/tcp_adv_win_scale  2

service hvdcp /system/bin/hvdcp
    class core
    user root
    disabled

on property:persist.usb.hvdcp.detect=true
    start hvdcp

on property:persist.usb.hvdcp.detect=false
    stop hvdcp

service charger_monitor /system/bin/charger_monitor
    user root
    group root
    disabled

service qbcharger /charger -m 1
    disabled
    oneshot

on property:sys.qbcharger.enable=true
    start qbcharger

on property:sys.qbcharger.enable=false
    stop qbcharger

on charger
    wait /dev/block/bootdevice/by-name/system
    mount ext4 /dev/block/bootdevice/by-name/system / ro barrier=1
    setprop sys.usb.config adb

service vendor.audio-hal /vendor/bin/hw/android.hardware.audio.service
    override
    class hal
    user audioserver
    # media gid needed for /dev/fm (radio) and for /data/misc/media (tee)
    group audio camera drmrpc inet media mediadrm net_bt net_bt_admin net_bw_acct oem_2901 wakelock
    capabilities BLOCK_SUSPEND
    ioprio rt 4
    writepid /dev/cpuset/foreground/tasks /dev/stune/foreground/tasks
    socket audio_hw_socket seqpacket 0666 system system
    onrestart restart audioserver
